
.agenda {
width: 54,4375rem;
height: 48rem;
border: 2px solid blue;
margin-inline: auto;
background-color: #14151D;
display: flex;
flex-direction: column;
position: relative;
}


.agenda .header-primary {
width: 44,4375rem;
height: 3.75rem;
border: 2px solid salmon;
margin: 62px 80px 32px 80px;
}



.title {
    position: relative;
    display: flex;
    flex-direction: column;

    & h1{
    font: var(--inter--tight);
    color: var(--content-primary);
    height: 2rem;
    width: 100%;
    margin-bottom: 4px;
   }
   & p {
   font: var(--inter-pmedium);
   color: var(--content-secondary);
   height: 1.5rem;
    width: 100%;
   
   }

}


.calender {
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
gap: 8px;
position: absolute;
right: 0px;
top: 6px;
width: 172px;
height: 48px;
color: var(--content-secondary);
border: 1px solid var(--border-primary);
border-radius: 8px;
background-color: var(--background-primary);

& input { 
    background-color: inherit;
    color: var(--content-secondary);
    border: none;
    width: 120px;
    height: 24px;
    font-family: 'Inter', 'sans-serif';
    font-weight: 500;
    font-size: 16px;
    
}

& .icon-arrow {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 0;
   
}
}
